table , th, td{
    border: 1px solid black;
}

table{
    width: 500px;
    border-collapse: collapse;
}

th{
    height: 70px;
}

th{
    background-color: lightgrey;
}

td{
    text-align: center;
}

tr:nth-child(even){
    background-color: brown;
}

tr:hover{
    background-color: black;
    color: white;
}