body {
    background-color: rgb(238, 221, 221);
}

h1 {
    color: red;
}

p,
li {
    color: blue;
    background-color: bisque;
}

.aueb-logo {
    color: green;
    background-color: brown;
    width: 800px;
}

img.aueb-logo {
    height: auto;
    border: 2px solid yellow;
}

.aueb-text {
    color: yellow;
    background-color: purple;
}

#auebText {
    color: gold;
    background-color: green;
}

ul>li {
    color: rgb(214, 166, 9);
}

ul>li>strong {
    color: blueviolet;
}

ul>li>em {
    background-color: red;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: orange;
}

a:hover {
    background-color: gray;
}

a:focus {
    outline: none;
    background-color: yellow;
}

a:active {
    background-color: blue;
}

/*LoVeHateFeAr