body{
    background-color: lightgray;
}

.gradient-to-rigth{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to right, green,red);
}

.gradient-to-lefttop{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to left,blue,brown);
}

.gradient-to-top{
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to top,green,red);
}