:root{
    --full-width: 45vw;
    --partial-width: 40vw;
    --full-height: 100vh;
    --color-light: rgb(213, 211, 211);
    --color-white: #fff;
    --min-height-85vh: 85vh;
    --min-height-60px: 60px;
    --min-height-48px: 48px;
    --color-bluelight: #3176B1;
    --color-blueauth: #5479A2;
    --color-gray: rgb(205, 202, 202, 0.5);
    --color-bluelink: rgb(42, 100, 163);
    --font-width600: 600px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height:var(--full-height);
    background-color: var(--color-light);
}

.center{
    display: grid;
    place-items: center;
}

.container {
    background-color: var(--color-white);
    height: 430px;
    width: 550px;
    border-radius: 0px;
}

.img{
    display: flex;
    place-items: center;
    justify-content:space-between;
}

.user-check{
    background-color:var(--color-blueauth);
    color: #fff;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    align-items: center;
    height: 35px;
    align-content: center;
    text-align: center;
    margin-top: 10px;

}

.connect{
    padding-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.password-taxis{
    padding-top: 5px;
    font-size: 14px;
    padding-bottom: 10px;
}

.action {
    margin-bottom: 15px; 
    width: 100%;         
    max-width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    width: 100%;         
    padding: 10px;       
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;  
    outline: none;    
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    width: 100%;         
    padding: 10px;       
    font-size: 1rem;
    color: #fff;         
    background-color: #007BFF; 
    border: none;        
    border-radius: 5px;  
    cursor: pointer; 
}

.footer{
    text-decoration: none;
}