:root {
    --color-: #1c128d;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.pt-20 {
    padding-top: 30px;
}

.pb-15 {
    padding-bottom: 30px;
}

.ml-15 {
    margin-left: 20px;
}

.pb-li {
    padding-bottom: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.mt-25 {
    margin-top: 25px;
}


.db {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: 100px;
    background-color: #1b155e;
    height: 50px;
    padding-left: 500px;

}

.main {
    display: flex;
    height: 600px;
    padding-top: 40px;
    margin-left: 500px;

}

.logo>img {
    width: auto;
    height: 50px;


}

.head-title {
    color: white;
    padding-left: 20px;
}

.button {
    width: 80px;
    height: 35px;
    background-color: green;
    color: white;
    border: none;
    


}

.button:hover {

    background-color: rgb(226, 49, 5);
}

footer {

    background-color: rgb(206, 206, 206);
    height: 194px;
    border-top: 2px solid blue;
    padding-top: 20px;

}

.footer-item {
    display: flex;
    margin-left: 500px;
    margin-top: 10px;
    gap: 10px;

}

.last-row {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

