h2[id],
p[id] {
    background-color: aquamarine;
}

a[href="#"] {
    background-color: blueviolet;
}

*[class^="info"] {
    /* ^=  ksekinaei me info*/
    color: green;
}

*[class*="text"] {
    /* *= periexei to text*/
    background-color: purple;
}

h2[class$="title"] {
    /* $=  oti teleiwnei se title*/
    font-style: italic;
}